<%= error_messages_for 'article_merge' %>


<div class='editor-left'>

  <div class=''>
	<h4><%= _("Merge Articles") %></h4>
    <div class='class'>
  <label for="merge_with">Article ID:</label>
  <input id="merge_with" name="merge_with" type="text" value="" /><br />
      <input id="merge" type="submit" value="Merge" name="merge" class="btn info">
    </div>
  </div>   

</div>

